textarea {
    min-height: 400px;
}

#emails-view strong{
    font-weight: normal;
    font-size: 18px;
}

.email-btn{
    margin-right: 3px;
}

.inside{
    border-top: 1px solid rgb(0, 255, 34);
    border-bottom: 1px solid rgb(0, 255, 34);
    font-size: 16px;
    padding-bottom: 10px;
}

#show-email .inside strong{
    font-size: 20px;
}

.p-body{
    margin-top: 10px;
    font-size: 20px;
}